# dependencies
/node_modules
package-lock.json

# environment variables
.env
.env.*

# building
/build/*
!/build/installer.nsh
/dist

# testing
/coverage

# misc
.DS_Store
.vscode
vscode
.idea

# logs
npm-debug.log*

# deb building
ppa/app/debian/debhelper-build-stamp
ppa/app/debian/files
ppa/app/debian/lumerin-wallet-desktop.debhelper.log
ppa/app/debian/lumerin-wallet-desktop.substvars
ppa/app/debian/lumerin-wallet-desktop/
ppa/app/opt/
ppa/app/usr/
ppa/lumerin-wallet-desktop*

# ESLint
.eslintcache

# Certificates
*.p12

*.log

dummy.js